.container {
    background-color: #f7c1bb;        
    padding: 30px 10px;
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border: 8px dashed #6f6c89;
    margin: auto;
    margin-top: 100px;
    width: 1200px;
    text-align: center;
    }

    .btn {
        background-color: #9996b5;
        color: #ffffff;
        border-color: #ffffff;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 20px;

    }

    .badge {
        background-color: #6f6c89;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 20px;
    }
    
    .badge.bg-light {
        color: #6f6c89;
    }
